---
version: 2.1
orbs:
  samvera: samvera/circleci-orb@0
jobs:
  test:
    parameters:
      ruby_version:
        type: string
      bundler_version:
        type: string
        default: 1.17.3
      rails_version:
        type: string
    executor:
      name: 'samvera/ruby_fcrepo_solr'
      ruby_version: << parameters.ruby_version >>
    environment:
      RAILS_VERSION: << parameters.rails_version >>
      NOKOGIRI_USE_SYSTEM_LIBRARIES: true
      ENGINE_CART_RAILS_OPTIONS: --skip-git --skip-bundle --skip-listen --skip-spring --skip-yarn --skip-keeps --skip-action-cable --skip-coffee --skip-puma --skip-test
    steps:
      - samvera/cached_checkout
      - samvera/bundle_for_gem:
          ruby_version: << parameters.ruby_version >>
          bundler_version: << parameters.bundler_version >>
          project: hydra-role-management
      - samvera/rubocop
      - samvera/engine_cart_generate:
          cache_key: v1-internal-test-app-{{ checksum "hydra-role-management.gemspec" }}-{{ checksum "spec/test_app_templates/lib/generators/test_app_generator.rb" }}-{{ checksum "lib/generators/roles/roles_generator.rb" }}-<< parameters.rails_version >>-<< parameters.ruby_version >>
      - samvera/bundle_for_gem:
          ruby_version: << parameters.ruby_version >>
          bundler_version: << parameters.bundler_version >>
          project: hydra-role-management
      - samvera/parallel_rspec
      - persist_to_workspace:
          root: ~/
          paths:
          - project/*
          - project/**/*

workflows:
  ci:
    jobs:
      - test:
          name: ruby2-7_rails6-0
          ruby_version: 2.7.0
          rails_version: 6.0.2
      - test:
          name: ruby2-6_rails6-0
          ruby_version: 2.6.5
          rails_version: 6.0.2
      - test:
          name: ruby2-5_rails6-0
          ruby_version: 2.5.7
          rails_version: 6.0.2
      - test:
          name: ruby2-4_rails6-0
          ruby_version: 2.4.9
          rails_version: 6.0.2
      - test:
          name: ruby2-7_rails5-2
          ruby_version: 2.7.0
          rails_version: 5.2.4
      - test:
          name: ruby2-6_rails5-2
          ruby_version: 2.6.5
          rails_version: 5.2.4
      - test:
          name: ruby2-5_rails5-2
          ruby_version: 2.5.7
          rails_version: 5.2.4
      - test:
          name: ruby2-4_rails5-2
          ruby_version: 2.4.9
          rails_version: 5.2.4
      - test:
          name: ruby2-7_rails5-1
          ruby_version: 2.7.0
          rails_version: 5.1.7
      - test:
          name: ruby2-6_rails5-1
          ruby_version: 2.6.5
          rails_version: 5.1.7
      - test:
          name: ruby2-5_rails5-1
          ruby_version: 2.5.7
          rails_version: 5.1.7
      - test:
          name: ruby2-4_rails5-1
          ruby_version: 2.4.9
          rails_version: 5.1.7
